@import url('https://fonts.googleapis.com/css?family=Gelasio:100,200,300,400,500,600,700|Libre+Franklin:100,200,300,400,500,600,700');

body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    position: relative;
}

h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
  }

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #fafafa;
    margin-bottom: 4rem;
  }


/* Navbar */

/* Carousel */

.carousel {
  margin-bottom: 4rem;
  background-color: #333;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* Jumbotron */

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #06ad6c;
  
}

@media (min-width: 768px) {
  .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
  }  
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

 .jumbotron h1 {
     font-family: 'Gelasio', serif;
     font-size: 90px;
     font-weight: 300;
     color: #fafafa;
     padding-top: 5rem;
     
 }

  .jumbotron .container {
      max-width: 40rem;
  }


/* Coffee list and Cards */

 .bg-color-coffee {
    background-color: #f1796d;
}

.card-thumbnail {
    
    width: 100%;
    height: 225px;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
}

.card-img {
 border: 0;
}


/* Contact */


.contact-form {
    background-color: #e9a83e;
    text-align:  center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Footer */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

/* Dublin city north styles */

/* Featurettes */

.featurette-divider {
  margin: 3rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS */

@media (min-width: 40em) {
 
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
